<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy | About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <!--end navigation-->
        <div class="void_space2"></div>
        <div class="intro-p2">
            <h1><span>
                Our team
            </span></h1>
        </div>
    </div>
    <!--end header-->
    <div class="void_space"></div>

    <!-- BODY -->

    <div class="news_container" style="padding-top: 20px;">
        <th:block th:each="uProfile: ${profiles}">
            <div class="profile_container" style="padding-left: 100px;">
                <div style="float: left; width: 25%">
                    <div class="avatar_icon">
                        <img th:src="@{|~/rel/res/public/av/${uProfile.iconLink}|}"/>
                    </div>
                </div>
                <div class="profile_text" style="float: right; width: 75%; margin-top: 40px;">
                    <h2 style="float: left; padding-left: 50px; font-size: 30px; margin: 0 auto;">
                        <span th:text="${uProfile.firstName}"></span>&nbsp;
                        <span th:text="${uProfile.lastName}"></span>&nbsp;
                    </h2>
                    <br/>
                    <h3 style="float: left; padding-left: 52px; font-size: 16px; margin: 15px auto">
                        <span th:text="${uProfile.position}"></span>&nbsp;
                    </h3>
                </div>
                <div class="void_space2"></div>
                <div class="void_space"></div>
            </div>
        </th:block>
    </div>


    <div class="void_space2"></div>
    <div class="void_space2"></div>

    <div th:replace="nav :: nav_footer"></div>

</div>
<!--end wrapper-->
</body>
</html>
