<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title sec:authentication="name">Escapy | Post form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <!--end navigation-->
        <div class="void_space2"></div>
        <div class="intro-p">
            <span>
                Banner form
            </span>
        </div>
    </div>
    <!--end header-->
    <div class="void_space"></div>

    <!-- BODY -->
    <div th:with="def_link=@{~/account/admin}">
        <div style="width: 20%; float: left; padding-left: 10%; color: #676767">
            <h2 style="margin-top: 0;">
                <a style="padding-top: 5px" th:href="@{|${def_link}|}">Admin panel</a><br/>
                <a th:href="@{~/account/profile}">User panel</a>
            </h2>
            <h2>
                <a th:href="@{|${def_link}/profiles|}">Profiles</a><br/>
                <a th:href="@{|${def_link}/posts|}">Posts</a><br/>
                <a th:href="@{|${def_link}/banners|}">Banners</a>
            </h2>
            <h2><a style="color: firebrick;" th:href="@{~/access/logout}">Sign Out</a></h2>
        </div>
        <div style="width: 50%; float: right; margin-top: 1px;">

            <!--/*@thymesVar id="banner_form" type="net.henryco.hblog.mvc.controllers.acc.form.BannerForm"*/-->
            <form th:object="${banner_form}" th:action="@{|${def_link}/banners/add/submit|}"
                  method="post" enctype="multipart/form-data">

                <div class="errors" th:if="${#fields.hasErrors('*')}" style="width:50%; float: right">
                    <ul><li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input data error</li></ul>
                </div><br/>


                <label for="banner_name">Name</label><br/>
                <input id="banner_name" size="30" type="text" th:field="*{name}" class="input_space"/><br/><br/>

                <label for="banner_link">External link</label><br/>
                <input id="banner_link" size="60" type="text" th:field="*{link}" class="input_space"/><br/><br/>

                <label for="icon_prev">Banner image (220x... px)</label><br/>
                <input type="file" id="icon_prev" th:field="*{image}" />
                <br/><br/>


                <br/>

                <div style="width: 80%;">
                    <input class="click_input2" style="font-weight: 700; float: right; font-size: 18px; color: dimgray;"
                           type="submit" value="Save Banner" />
                </div>
            </form>
        </div>
    </div>


    <div class="void_space2"></div>
    <div class="void_space2"></div>
    <div class="clear"></div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> |
                Roles: <span sec:authentication="principal.authorities"></span>
            </p>
        </div>
    </div>

</div>
<!--end wrapper-->
</body>
</html>
