<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy | Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>

<!--start wrapper-->
<div id="wrapper" class="clearfix">



    <!--start header-->
    <div id="header" class="clearfix">

        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <div class="void_space2"></div>

        <!-- POST TITLE -->
        <div class="intro-p"><h1><span th:text="${post_title}"></span></h1></div>

        <!-- POST DATE -->
        <span th:text="${post_update_time}" class="date_span"></span>

    </div>
    <!--end header-->



    <div>
        <div th:replace="nav :: img_banner"></div>

        <!-- POST CONTENT -->
        <div class="post_content"><span th:utext="${post_content}"></span></div>
    </div>



    <div class="page_linker">
        <p>
            <a th:if="${article_id} != ${article_prev}" th:href="@{|~/news/article/${article_prev}|}">Previous article</a> &nbsp;|&nbsp;
            <a th:if="${article_id} != ${article_next}" th:href="@{|~/news/article/${article_next}|}">Next article</a>
        </p>
    </div>


    <div class="clear"></div>
    <div class="post_content_line">&nbsp;</div>
    <div class="clear"></div>



    <th:block th:each="perview: ${post_previews}">
        <div class="one_fourth" th:with="linkVariable = @{|~/news/article/${perview.id}|}">
            <h3><a th:text="*{perview.title} ?: '' " th:href="@{|${linkVariable}|}"></a></h3>
            <p><a th:text="*{perview.previewShort} ?: '' " th:href="@{|${linkVariable}|}"></a>...</p>
        </div>
    </th:block>

    <div class="one_fourth column-last" th:with="linkVariable = @{|~/news/article/${last_preview.id}|}">
        <h3><a th:text="*{last_preview.title} ?: '' " th:href="@{|${linkVariable}|}"></a></h3>
        <p><a th:text="*{last_preview.previewShort} ?: '' " th:href="@{|${linkVariable}|}"></a>...</p>
    </div>




    <div th:replace="nav :: nav_footer"></div>



</div>
<!--end wrapper-->
</body>
</html>
