<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title sec:authentication="name">Escapy | Banners</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <!--end navigation-->
        <div class="void_space2"></div>
        <div class="intro-p2">
            <span>
                Manage banners
            </span>
        </div>
    </div>
    <!--end header-->
    <div class="void_space"></div>

    <!-- BODY -->
    <div th:with="def_link=@{~/account/admin}">

        <div style="width: 20%; float: left; padding-left: 10%; color: #676767">
            <h2 style="margin-top: 0;">
                <a style="padding-top: 5px" th:href="@{|${def_link}|}">Admin panel</a><br/>
                <a th:href="@{~/account/profile}">User panel</a>
            </h2>
            <h2>
                <a th:href="@{|${def_link}/profiles|}">Profiles</a><br/>
                <a th:href="@{|${def_link}/posts|}">Posts</a><br/>
                <a th:href="@{|${def_link}/banners|}">Banners</a>
            </h2>
            <h2><a style="color: firebrick;" th:href="@{~/access/logout}">Sign Out</a></h2>
        </div>

        <div style="width: 70%; float: right; margin-top: 1px;">

            <div style="float: left; margin-bottom: 25px;">
                <form method="POST" th:action="@{|${def_link}/banners/actual|}">
                    <label for="actual">Actual banners</label><br/>
                    <!--/*@thymesVar id="actual_banners" type="java.lang.String"*/-->
                    <input id="actual" name="actual" style="margin-right: 5px;" size="30" class="input_space" type="text" th:value="${actual_banners}"/>
                    <input type="submit" value="Set actual" class="click_input2" style="margin-right: 5px;"/>|
                    <a style="text-decoration: none; margin-left: 20px; text-transform: none; color: inherit;"
                       th:href="@{|${def_link}/banners/add|}"> Add new banner</a>
                </form>
            </div>
            <br/>

            <!--/*@thymesVar id="banner" type="net.henryco.hblog.mvc.model.entity.extra.PinnedBanner"*/-->
            <table style="float: left; clear: both; font-size: 13px;" class="profile_set">
                <tr>
                    <th style="padding-right: 5px">ID</th>
                    <th style="padding-right: 10px">Name</th>
                    <th style="padding-right: 10px">Actual</th>
                    <th style="padding-right: 10px">Media</th>
                    <th style="padding-right: 10px">External reference</th>
                </tr>

                <th:block th:each="banner: ${banners}">
                    <tr>

                        <td style="padding-right: 5px" th:text="${banner.id}"></td>
                        <td style="padding-right: 10px" th:text="${banner.name}"></td>
                        <td style="padding-right: 10px">
                            <form method="POST" th:action="@{|${def_link}/banners/stat/switch/${banner.id}|}">
                                <input class="click_input2, profile_set" type="submit"
                                       style="padding-right: 10px; cursor: pointer; font-size: 12px;"
                                       th:value="${banner.actual}"/>
                            </form>
                        </td>

                        <td style="padding-right: 10px">
                            <a target="_blank" style="text-transform: none; text-decoration: none; color:inherit;"
                               th:href="@{|~/rel/res/public/${banner.mediaUrl}|}" th:text="${banner.mediaUrl}"></a>
                        </td>

                        <td style="padding-right: 10px">
                            <a target="_blank" style="text-transform: none; text-decoration: none; color:inherit;"
                               th:href="@{|${banner.mediaHref}|}" th:text="${banner.mediaHref}"></a>
                        </td>

                        <th><form method="POST" th:action="@{|${def_link}/banners/stat/delete/${banner.id}|}">
                                <input class="click_input2, profile_set" type="submit" style="cursor: pointer" value="[ DELETE ]"/>
                        </form></th>

                    </tr>
                </th:block>

            </table>
        </div>
    </div>


    <div class="void_space2"></div>
    <div class="void_space2"></div>
    <div class="clear"></div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> |
                Roles: <span sec:authentication="principal.authorities"></span>
            </p>
        </div>
    </div>

</div>
<!--end wrapper-->
</body>
</html>
