<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <!--<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"/>-->
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 class="logo"><a th:href="@{/index}">Logo</a></h1>
        <div class="nav">
            <!--start navigation-->

            <ul>
                <li class="title"><a th:href="@{/index}">Home</a></li>
            </ul>

            <ul>
                <li class="title"><a th:href="@{/news}">News</a></li>
            </ul>

            <ul>
                <li class="title"><a href="#">About</a></li>
            </ul>

            <ul>
                <li class="title"><a href="#">Join us</a></li>
            </ul>

            <ul class="menu-side">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Vk.com</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Github</a></li>
            </ul>

        </div>
        <!--end navigation-->
        <div class="intro-p"><span>We are a group of enthusiasts who intend to create a deep 2D story</span></div>
    </div>
    <!--end header-->
    <div class="banner-image"><img src="images/bg.jpg" alt=""/></div>


    <div class="intro-2" th:with="linkVariable=@{|/news/article/${post_id0}|}">
        <h2><a th:text="${lastNewsTittle_0}" th:href="@{|${linkVariable}|}"></a></h2>
        <p><span th:text="${lastNewsPreview_0}">Content1</span>... &nbsp;<a class="in_link2" th:href="@{|${linkVariable}|}">read more.</a></p>
    </div>

    <div class="one_third" th:with="linkVariable=@{|/news/article/${post_id1}|}">
        <h3><a th:text="${lastNewsTittle_1}" th:href="@{|${linkVariable}|}"></a></h3>
        <p><span th:text="${lastNewsPreview_1}">Content1</span>... &nbsp;<a class="in_link" th:href="@{|${linkVariable}|}">read more.</a></p>
    </div>


    <div class="one_third" th:with="linkVariable=@{|/news/article/${post_id2}|}">
        <h3><a th:text="${lastNewsTittle_2}" th:href="@{|${linkVariable}|}"></a></h3>
        <p><span th:text="${lastNewsPreview_2}">Content2</span>... &nbsp;<a class="in_link" th:href="@{|${linkVariable}|}">read more.</a></p>
    </div>


    <div class="one_third column-last" th:with="linkVariable=@{|/news/article/${post_id3}|}">
        <h3><a th:text="${lastNewsTittle_3}" th:href="@{|${linkVariable}|}"></a></h3>
        <p><span th:text="${lastNewsPreview_3}">Content3</span>... &nbsp;<a class="in_link" th:href="@{|${linkVariable}|}">read more.</a></p>
    </div>



    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> | Website Template
                <!--By <a target="_blank" href="http://www.pixelqraft.com/">Maki Myers</a>-->
                By <a href="#">Maki Myers</a>
            </p>
        </div>
    </div>
    <!--end footer-->
</div>
<!--end wrapper-->
</body>
</html>
