<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 class="logo"><a th:href="@{~/index}">Logo</a></h1>
        <div class="nav">
            <!--start navigation-->

            <ul><li class="title"><a th:href="@{~/index}">Home</a></li></ul>
            <ul><li class="title"><a th:href="@{~/news}">News</a></li></ul>
            <ul><li class="title"><a th:href="@{~/about}">About</a></li></ul>
            <ul><li class="title"><a th:href="@{~/join}">Join us</a></li></ul>

            <ul class="menu-side">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Vk.com</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Github</a></li>
            </ul>

        </div>
        <!--end navigation-->
        <div class="intro-p">
            <!--<span>We are a group of enthusiasts who intend to create a deep 2D story</span>-->
        </div>
    </div>
    <!--end header-->
    <div class="banner-image"><img th:src="@{~/images/bg.jpg}" alt=""/></div>

    <th:block th:each="hot_post: ${actual_news}">
        <div class="intro-2" th:with="linkVariable=@{|~/news/article/${hot_post.id}|}">
            <h2><a th:text="${hot_post.title}" th:href="@{|${linkVariable}|}"></a></h2>
            <p><a th:text="${hot_post.previewShort}" th:href="@{|${linkVariable}|}"></a>...</p>
        </div>
    </th:block>

    <div>
        <div class="banner-right">
            <th:block th:each="banner: ${banners}">
                <a th:href="@{|${banner.mediaHref}|}">
                    <img th:src="@{|~/rel/res/public/${banner.mediaUrl}|}"/>
                </a>
                <div class="void_space2"></div>
            </th:block>
        </div>
        <div class="home_container" style="width:77%; float: left;">
            <th:block th:each="preview: ${previews}" th:with="linkVariable=@{|~/news/article/${preview.id}|}">
                <div class="half_box">
                    <h3><a th:text="${preview.title}" th:href="@{|${linkVariable}|}"></a></h3>
                    <p>
                        <span th:text="${preview.previewShort}"></span>...
                        <a class="in_link" th:href="@{|${linkVariable}|}">read more.</a>
                    </p>
                </div>
            </th:block>
        </div>
    </div>



    <div class="clear"></div>

    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> | <a th:href="@{~/acc/login}">Login</a></p>
        </div>
    </div>
    <!--end footer-->
</div>
<!--end wrapper-->
</body>
</html>
