<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <!--end navigation-->
        <div class="intro-p">
            <!--<span>We are a group of enthusiasts who intend to create a deep 2D story</span>-->
        </div>
    </div>
    <!--end header-->
    <div class="banner-image"><img th:src="@{~/rel/res/public/critical/background.jpg}" alt=""/></div>

    <th:block th:each="hot_post: ${actual_news}">
        <div class="intro-2" th:with="linkVariable=@{|~/news/article/${hot_post.id}|}">
            <h2><a th:text="${hot_post.title}" th:href="@{|${linkVariable}|}"></a></h2>
            <p><a th:text="${hot_post.previewShort}" th:href="@{|${linkVariable}|}"></a>...</p>
        </div>
    </th:block>

    <div>
        <div th:replace="nav :: img_banner"></div>

        <div class="home_container" style="width:77%; float: left;">
            <th:block th:each="preview: ${previews}" th:with="linkVariable=@{|~/news/article/${preview.id}|}">
                <div class="half_box">
                    <h3><a th:text="${preview.title}" th:href="@{|${linkVariable}|}"></a></h3>
                    <p>
                        <span th:text="${preview.previewShort}"></span>...
                        <a class="in_link" th:href="@{|${linkVariable}|}">read more.</a>
                    </p>
                </div>
            </th:block>
        </div>
    </div>



    <div th:replace="nav :: nav_footer"></div>

</div>
<!--end wrapper-->
</body>
</html>
