<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy | Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--start wrapper-->
<div id="wrapper" class="clearfix">

    <!-- BODY -->
    <span style="float: left; width: 60%">
             <a th:href="@{~/acc/registration}"
                style="
                text-decoration: inherit;
                text-transform: inherit;
                font-size: inherit;
                color: inherit;">
                 Don't have an account yet?
             </a>
         </span>
    <div style="width: 60%; margin-bottom: 20px">
        <h1 class="logo"><a th:href="@{/index}">Index</a></h1>
    </div><br/>

    <div style="padding-top: 10px">
        <div style="width: 40%; float: left; margin-bottom: 20px; padding-top: 30px;">

            <form method="post" th:action="@{~/acc/login}" style="padding-left: 10%">

                <div style="float: left; width: 50%">
                    <label for="username">Username or email</label><br/>
                    <input id="username" type="text" class="input_space"/><br/>

                    <label for="password">Password</label><br/>
                    <input id="password" type="password" class="input_space"/><br/>

                    <label for="remember-me">Remember Me?</label><br/>
                    <input type="checkbox" id="remember-me" name="remember-me"/><br/>

                    <br/>
                    <div>
                        <button type="submit">Log in</button>
                    </div>
                </div>
                <div th:if="${param.error}" style="color: crimson; font-style: italic">
                    Invalid username and password.
                </div>

            </form>
        </div>
    </div>

    <div class="void_space2"></div>
    <div class="void_space2"></div>
    <div class="clear"></div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text" style="border-top: none">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span></p>
        </div>
    </div>
    <!--end footer-->
</div>
<!--end wrapper-->
</body>
</html>
