<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy | Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--start wrapper-->
<div id="wrapper" class="clearfix">

    <!-- BODY -->
    <div style="width: 60%; margin-bottom: 20px">
        <h1 class="logo"><a th:href="@{/index}">Index</a></h1>
    </div><br/>
    <div style="width: 100%; padding-top: 10px">
        <div style="width: 40%; float: left; margin-bottom: 20px; padding-top: 1%; padding-left: 1%">
            <form method="post" th:object="${loginForm}" th:action="@{~/acc/login}">
                <div class="errors" th:if="${#fields.hasErrors('*')}">
                    <ul><li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input data error</li></ul>
                </div>
                <label>Username or email</label><br/>
                <input type="text" th:field="*{userName}"  title="Username or email" style="background-color: #e2e2e2"/>
                <br/>
                <label>Password</label><br/>
                <input type="password" th:field="*{password}" title="Password" style="background-color: #E2E2E2"/>
                <br/><br/>
                <input type="submit" value="Login"/>
            </form>

        </div>
    </div>

    <div class="void_space2"></div>
    <div class="void_space2"></div>
    <div class="clear"></div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text" style="border-top: none">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span></p>
        </div>
    </div>
    <!--end footer-->
</div>
<!--end wrapper-->
</body>
</html>
