<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:fragment="header-css">
    <!-- this is header-css -->
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>

<h1 th:fragment="logo" class="logo">
    <a th:href="@{~/index}">Logo</a>
</h1>

<div th:fragment="navigation" class="nav">
    <ul><li class="title"><a th:href="@{~/index}">Home</a></li></ul>
    <ul><li class="title"><a th:href="@{~/news}">News</a></li></ul>
    <ul><li class="title"><a th:href="@{~/about}">About</a></li></ul>
    <ul><li class="title"><a th:href="@{~/join}">Join us</a></li></ul>
    <ul class="menu-side">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Vk.com</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Github</a></li>
    </ul>
</div>


<div th:fragment="img_banner" class="banner-right">
    <th:block th:each="banner: ${banners}">
        <a th:href="@{|${banner.mediaHref}|}">
            <img th:src="@{|~/rel/res/public/${banner.mediaUrl}|}"/>
        </a>
        <div class="void_space2"></div>
    </th:block>
</div>


<div th:fragment="nav_footer">
    <div class="clear"></div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> |
                <span sec:authorize="isAuthenticated()">
                    <a th:href="@{~/access/logout}">Sign Out</a> |
                    <a th:href="@{~/account/profile}">Profile</a>
                </span>
                <a sec:authorize="!isAuthenticated()" th:href="@{~/access/login}">Sign In</a>
            </p>
        </div>
    </div>
</div>


</body>
</html>