<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy | News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 class="logo"><a th:href="@{~/index}">Logo</a></h1>
        <div class="nav">
            <!--start navigation-->

            <ul><li class="title"><a th:href="@{~/index}">Home</a></li></ul>
            <ul><li class="title"><a th:href="@{~/news}">News</a></li></ul>
            <ul><li class="title"><a href="#">About</a></li></ul>
            <ul><li class="title"><a href="#">Join us</a></li></ul>

            <ul class="menu-side">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Vk.com</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Github</a></li>
            </ul>

        </div>
        <!--end navigation-->
        <div class="intro-p"><span>News page&nbsp;<span th:text="*{pageNumber} ?: ''"></span></span></div>
        <div class="void_space"></div>
    </div>
    <!--end header-->



    <div>
        <div class="banner-right">
            <!--VOID SPACE FOR SOME BANNERS-->
        </div>

        <div class="news_container">
            <th:block th:each="post: ${posts}">

                <div class="half_box">
                    <p>
                        <!--There will be image preview-->
                    </p>
                </div>

                <div class="half_box">
                    <h3><a th:text="*{post.title} ?: '' " th:href="@{|~/news/article/${post.id}|}"></a></h3>
                    <p>
                        <span th:text="*{post.previewLong} ?: ''"></span>...&nbsp;
                    </p>
                </div>
                <br/>
                <div class="void_space"></div>
            </th:block>
        </div>

    </div>






    <div class="clear"></div>


    <!--start footer-->
    <div id="footer">
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> | <a href="#">Login</a></p>
        </div>
    </div>
    <!--end footer-->




</div>
<!--end wrapper-->
</body>
</html>
