<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escapy | Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 class="logo"><a th:href="@{~/index}">Logo</a></h1>
        <div class="nav">
            <!--start navigation-->

            <ul>
                <li class="title"><a th:href="@{~/index}">Home</a></li>
            </ul>

            <ul>
                <li class="title"><a th:href="@{~/news}">News</a></li>
            </ul>

            <ul>
                <li class="title"><a href="#">About</a></li>
            </ul>

            <ul>
                <li class="title"><a href="#">Join us</a></li>
            </ul>

            <ul class="menu-side">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Vk.com</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Github</a></li>
            </ul>

        </div>
        <!--end navigation-->
        <div class="intro-p"><span>I'm just chilling here being a page, you know.</span></div>
    </div>
    <!--end header-->
    <div class="intro-2"><span>Donec justo dui, pellentesque auctor condimentum eu, vulputate et ligula. Mauris ultrices ultricies est quis varius. Fusce vel purus metus, id semper arcu. Nunc quis venenatis diam. Donec justo dui, pellentesque auctor condimentum eu, vulputate et ligula. Mauris ultrices ultricies est quis varius. Fusce vel purus metus, id semper arcu. Nunc quis venenatis diam.</span>
    </div>
    <div class="one_third">
        <h3>Hey</h3>
        <p>In neque nulla, rutrum vitae faucibus id, tristique faucibus urna. Praesent semper pharetra mattis.</p>
        <br/>
        <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut
            lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
    </div>
    <div class="one_third">
        <h3>So...</h3>
        <p>In neque nulla, rutrum vitae faucibus id, tristique faucibus urna. Praesent semper pharetra mattis.</p>
        <br/>
        <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut
            lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
    </div>
    <div class="one_third column-last">
        <h3>Yeah!</h3>
        <p>In neque nulla, rutrum vitae faucibus id, tristique faucibus urna. Praesent semper pharetra mattis.</p>
        <br/>
        <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut
            lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
    </div>
    <div class="clear"></div>
    <div class="one_fourth">
        <h3>1/4</h3>
        <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut
            lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
    </div>
    <div class="one_fourth">
        <h3>1/4</h3>
        <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut
            lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
    </div>
    <div class="one_fourth">
        <h3>1/4</h3>
        <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut
            lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
    </div>
    <div class="one_fourth column-last">
        <h3>1/4</h3>
        <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut
            lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
    </div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> | Website Template
                By <a href="#">Maki Myers</a></p>
        </div>
    </div>
    <!--end footer-->
</div>
<!--end wrapper-->
</body>
</html>
