<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title sec:authentication="name">Escapy | Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <!--end navigation-->
        <div class="void_space2"></div>
        <div class="intro-p">
            <h1><span>

            </span></h1>
        </div>
    </div>
    <!--end header-->
    <div class="void_space"></div>

    <!-- BODY -->
    <div th:with="def_link=@{~/account/profile}">
        <div style="width: 20%; float: left; padding-left: 10%">
            <h2>
                <a style="padding-top: 15px" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{~/account/admin}">Admin panel</a>
                <br/>
                <a style="padding-top: 5px" th:href="@{|${def_link}/addpost|}">Add post</a>
                <br/>
                <a style="padding-top: 5px" th:href="@{|${def_link}/manage|}">Manage posts</a>
                <br/>
                <a style="padding-top: 5px" th:href="@{|${def_link}/settings|}">Settings</a>
            </h2>
            <h2>
                <a th:href="@{~/access/logout}">Sign Out</a>
            </h2>
        </div>
        <div style="width: 70%; float: right; margin-top: 1px;">
            <div style="width: 70%; float: left; margin-top: 1px;">
                <div style="width: 50%; float: right; padding-right: 10%;">
                    <!--/*@thymesVar id="user_profile" type="net.henryco.hblog.mvc.model.account.BaseUserProfile"*/-->
                    <ul>
                        <li>Username: <span style="float: right" th:text="${user_profile.userName}"></span></li>
                        <li>First name: <span style="float: right" th:text="${user_profile.firstName}"></span></li>
                        <li>Last name: <span style="float: right" th:text="${user_profile.lastName}"></span></li>
                        <li>E-mail: <span style="float: right" th:text="${user_profile.email}"></span></li>
                        <li>Position: <span style="float: right" th:text="${user_profile.position}"></span></li>
                    </ul>
                </div>
            </div>
            <div style="width: 30%; float: right; margin-top: 1px;">

            </div>
        </div>
    </div>


    <div class="void_space2"></div>
    <div class="void_space2"></div>
    <div class="clear"></div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> |
                Roles: <span sec:authentication="principal.authorities"></span>
            </p>
        </div>
    </div>

</div>
<!--end wrapper-->
</body>
</html>
