<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title th:text="${profile_name}">Escapy | Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <!--end navigation-->
        <div class="void_space2"></div>
        <div class="intro-p">
            <h1><span>

            </span></h1>
        </div>
    </div>
    <!--end header-->
    <div class="void_space"></div>

    <!-- BODY -->
    <span sec:authorize="isAuthenticated()">
        Logged user: <span sec:authentication="name"></span> |
        Roles: <span sec:authentication="principal.authorities"></span> |
        <a th:href="@{/logout}">Sign Out</a>
    </span>

    <div class="void_space2"></div>
    <div class="void_space2"></div>
    <div th:replace="nav :: nav_footer"></div>

</div>
<!--end wrapper-->
</body>
</html>
