<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title sec:authentication="name">Escapy | Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <!--end navigation-->
        <div class="void_space2"></div>
        <div class="intro-p2">
            <span>
                Settings
            </span>
        </div>
    </div>
    <!--end header-->
    <div class="void_space"></div>

    <!-- BODY -->
    <div th:with="def_link=@{~/account/profile}">
        <div style="width: 20%; float: left; padding-left: 10%; color: #676767">
            <h2 style="margin-top: 0;">
                <a style="padding-top: 5px" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{~/account/admin}">Admin panel</a><br/>
                <a th:href="@{|${def_link}|}">User panel</a>
            </h2>
            <h2>
                <a th:href="@{|${def_link}/addpost|}">Add post</a><br/>
                <a th:href="@{|${def_link}/manage|}">Manage posts</a><br/>
                <a th:href="@{|${def_link}/files|}">Files</a><br/>
                <a th:href="@{|${def_link}/settings|}">Settings</a>
            </h2>
            <h2><a style="color: firebrick;" th:href="@{~/access/logout}">Sign Out</a></h2>
        </div>
        <div style="width: 70%; float: right; margin-top: 1px;">
            <div style="width: 70%; float: left; margin-top: 1px;">
                <div style="width: 50%; float: right; padding-right: 10%;">

                    <!--/*@thymesVar id="settingsForm" type="net.henryco.hblog.mvc.controllers.form.SettingsForm"*/-->
                    <form method="post" th:object="${settingsForm}" th:action="@{|${def_link}/settings/save|}" style="padding-left: 10%">

                        <div style="float: left; width: 50%">

                            <label for="first_name">First name</label><br/>
                            <input id="first_name" type="text" th:field="*{firstName}" class="input_space"/><br/>

                            <label for="last_name">Last name</label><br/>
                            <input id="last_name" type="text" th:field="*{lastName}" class="input_space"/><br/>

                            <label for="position">Position</label><br/>
                            <input id="position" type="text" th:field="*{position}" class="input_space"/>

                            <label for="e_mail">Email</label><br/>
                            <input id="e_mail" type="email" th:field="*{email}" class="input_space"/><br/>

                            <label for="pass">Password</label><br/>
                            <input id="pass" type="password" th:field="*{password}" class="input_space"/><br/>

                            <br/><input style="font-size: 14px; font-weight: 500" type="submit" value="Save changes" class="click_input2"/>
                        </div>

                        <div class="errors" th:if="${#fields.hasErrors('*')}" style="width:50%;">
                            <ul><li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input data error</li></ul>
                        </div>

                    </form>
                </div>
            </div>
            <div style="width: 30%; float: right; margin-top: 1px;">
                <div style="height: 85%; float: left;">
                    <div class="avatar_icon">
                        <img th:src="@{|~/rel/res/public/av/${iconLink}|}"/>
                    </div>
                </div>
                <div style="height: 15%; float: left;">
                    <form method="POST" th:action="@{|${def_link}/upload/avatar|}" enctype="multipart/form-data">
                        <span>Image must be 150x150 px</span><br/>
                        <input type="file" name="file" onchange="form.submit()" /><br/><br/>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="void_space2"></div>
    <div class="void_space2">
        <form method="post" th:action="@{~/account/profile/delete}">
            <input class="click_input2" style="font-weight: 700; float: right; color: firebrick; font-size: 14px;"
                   type="submit" value="DELETE ACCOUNT" />
        </form>
    </div>
    <div class="clear"></div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> |
                Roles: <span sec:authentication="principal.authorities"></span>
            </p>
        </div>
    </div>

</div>
<!--end wrapper-->
</body>
</html>
