<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title sec:authentication="name">Escapy | Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="clearfix">
    <!--start wrapper-->
    <div id="header" class="clearfix">
        <!--start header-->
        <h1 th:replace="nav :: logo"></h1>
        <div th:replace="nav :: navigation"></div>
        <!--end navigation-->
        <div class="void_space2"></div>
        <div class="intro-p">
            <span>
                Settings
            </span>
        </div>
    </div>
    <!--end header-->
    <div class="void_space"></div>

    <!-- BODY -->
    <div th:with="def_link=@{~/account/profile}">
        <div style="width: 20%; float: left; padding-left: 10%">
            <h2>
                <a style="padding-top: 15px" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{~/account/admin}">Admin panel</a>
                <br/>
                <a style="padding-top: 5px" th:href="@{|${def_link}/addpost|}">Add post</a>
                <br/>
                <a style="padding-top: 5px" th:href="@{|${def_link}/posts|}">Manage posts</a>
                <br/>
                <a style="padding-top: 5px" th:href="@{|${def_link}|}">Profile</a>
            </h2>
            <h2>
                <a th:href="@{~/access/logout}">Sign Out</a>
            </h2>
        </div>
        <div style="width: 70%; float: right; margin-top: 1px;">
            <div style="width: 70%; float: left; margin-top: 1px;">
                <div style="width: 50%; float: right; padding-right: 10%;">


                    <!--/*@thymesVar id="settingsForm" type="net.henryco.hblog.mvc.controllers.acc.form.SettingsForm"*/-->
                    <form method="post" th:object="${settingsForm}" th:action="@{|${def_link}/settings/save|}" style="padding-left: 10%">

                        <div style="float: left; width: 50%">

                            <label for="first_name">First name</label><br/>
                            <input id="first_name" type="text" th:field="*{firstName}" class="input_space"/><br/>

                            <label for="last_name">Last name</label><br/>
                            <input id="last_name" type="text" th:field="*{lastName}" class="input_space"/><br/>

                            <label for="position">Position</label><br/>
                            <input id="position" type="text" th:field="*{position}" class="input_space"/>

                            <label for="e_mail">Email</label><br/>
                            <input id="e_mail" type="email" th:field="*{email}" class="input_space"/><br/>

                            <label for="pass">Password</label><br/>
                            <input id="pass" type="password" th:field="*{password}" class="input_space"/><br/>

                            <br/><input type="submit" value="Save changes" class="input_submit"/>
                        </div>

                        <div class="errors" th:if="${#fields.hasErrors('*')}" style="width:50%;">
                            <ul><li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input data error</li></ul>
                        </div>

                    </form>

                </div>
            </div>
            <div style="width: 30%; float: right; margin-top: 1px;">

            </div>
        </div>
    </div>


    <div class="void_space2"></div>
    <div class="void_space2"></div>
    <div class="clear"></div>
    <div id="footer">
        <!--start footer-->
        <div class="footer-text">
            <p><span>&copy; Copyright 2017 <a href="#">HenryCo</a>. All Rights Reserved</span> |
                Roles: <span sec:authentication="principal.authorities"></span>
            </p>
        </div>
    </div>

</div>
<!--end wrapper-->
</body>
</html>
