<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title sec:authentication="name">Escapy | Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}" type="text/css" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:700i" rel="stylesheet" type="text/css"/>

</head>
<body>
<div id="wrapper" class="clearfix">

    <span>Results</span>
    <th:block th:each="file: ${uploaded}">
        <!--/*@thymesVar id="file" type="java.lang.String"*/-->
        <br/>
        <img style="max-width: 400px; height: auto;" th:src="@{|~/rel/res/public/${file}|}"/><br/>
        <span th:text="${file}"></span>
        <br/>
    </th:block>

</div>

<!--end wrapper-->
</body>
</html>
